.adminLogo {
  width: 150px;
  height: 100px;
}

.adminHeader {
  display: flex;
}

.PageAdmin {
  background-color: #1e1e1e;
  min-height: 100vh;
}

.CardAdmin {
  padding: 5px;
  width: 100%;
  max-width: 1200px;
  backdrop-filter: blur(10px);
  min-height: 100vh;
}

.BodyAdmin {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-list-container {
  display: flex;
  justify-content: space-around;
  color: #f7f7f7;
}

.admin-tablist .tab-item {
  color: #f7f7f7;
  font-size: 24px;
  padding: 25px;
  margin-left: 25px;
}

.admin-tablist .tab-item.active {
  font-weight: bold;
  border-bottom: 3px solid white;
}

.SongPanel {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 10px;
}

.SongGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  row-gap: 30px;
  padding: 10px;
  width: 100%;
}

.song-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.songcover {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-right: 15px;
}

.song-name {
  font-weight: bold;
}

.underlinedValue {
  display: inline-block;
  color: black;
  font-size: 20px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  width: 70%;
}
