.fullName{
    font-size: 40px !important;
}

.followersListName{
    color: #FFFFFF !important;
    text-transform: none !important;
    font-weight: 600 !important;
    font-size: 20px !important;
}

.followersListName2{
    color: #FFFFFF !important;
    text-transform: none !important;
    font-weight: 600 !important;
    font-size: 20px !important;
    margin-left: 100px !important;
}

.profilePhotoUrl{
    width: 76.14px !important;
    height: 68.31px !important;
}

.follower-FullName{
    font-size: 20px !important;
    font-weight: 400 !important;
}