/* Form container for central alignment */
.formContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  /* margin: auto; */
  margin-right: 780px !important;
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.MuiFormControl-root {
  width: 100%; /* Default to full width for consistency */
  max-width: 400px; /* Limit the dropdown width */
  margin-top: 12px;
  background-color: #ffffff;
  border-radius: 8px;
}
/* Typography Styles */
h4 {
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}

/* Form Fields */
.MuiTextField-root,
.MuiFormControl-root {
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
}

.MuiInputBase-input {
  font-size: 16px;
}

/* Error Messages */
.MuiTypography-body2 {
  color: #ff4d4f; /* Red error text */
  font-weight: 500;
  margin-top: 4px;
}

/* Button Styling */
.continueButton {
  background-color: #2644d9 !important;
  color: white !important;
  font-weight: 600;
  padding: 12px 24px;
  font-size: 1.1rem;
  border-radius: 25px !important;
  transition: all 0.3s ease;
}

.continueButton:hover {
  background-color: #2644d9 !important;
  /* box-shadow: 0px 5px 15px rgba(72, 187, 120, 0.5) !important; */
  transform: translateY(-3px) !important;
}

/* Divider Styling */
.dividerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 24px 0;
}

.MuiDivider-root {
  height: 4px;
  border-radius: 4px;
}

/* Scrollbar for Select Dropdown */
.MuiMenu-paper {
  max-height: 200px !important;
}

.MuiMenuItem-root {
  font-size: 16px;
  padding: 12px 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .formContainer {
    width: 90%;
    padding: 20px;
  }

  h4 {
    font-size: 1.5rem;
  }

  .continueButton {
    font-size: 1rem;
    padding: 10px 20px;
  }
}

.label {
  position: absolute;
  left: 16px !important;
  top: 12px;
  font-size: 16px;
  color: grey;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.label.active {
  top: -6px;
  font-size: 12px;
  color: #1976d2;
}
