.drawer{
    display: flex;
  
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.continueButton {
    width: 60%;
    height: 50px;
  }